<%
const pageinit = {
  title : 'レバレジーズスタッフィング株式会社' ,
  keywords : '' ,
  sitename: 'レバレジーズスタッフィング株式会社',
  description : 'レバレジーズスタッフィング株式会社のコーポレートサイトです。会社概要・採用情報などについて紹介しています。' ,
  ogurl: 'https://leverages-staffing.jp/contact/thanks',
  ogimage: 'https://leverages-staffing.jp/img/ogp.jpg',
  path : '../../' ,
  type: 'website',
  pagename : '完了ページ',
  robots : ['noindex'],
  id: 'contact-thanks'
  };
%>

<!doctype html>
<html lang="ja" class="lang-jp" data-script-enabled="true">
<%- include(pageinit.path + 'module/_head.ejs',{ pageinit:pageinit }) %>

<body id="<%= pageinit.id %>" ontouchstart="">
  <div class="wrapper">
    <%- include(pageinit.path + 'module/_header.ejs', { pageinit:pageinit }) %>

    <main class="l-main" id="main">
      <%- include(pageinit.path + 'module/_contact_thanks.ejs', { pageinit:pageinit }) %>
    </main>

    <footer class="footer" id="footer">
      <%- include(pageinit.path + 'module/_recruit-footer.ejs', { pageinit:pageinit }) %>
      <%- include(pageinit.path + 'module/_footer.ejs', { pageinit:pageinit }) %>
    </footer>
  </div>

  <script type="text/javascript" src="<%= pageinit.path %>assets/js/main.js"></script>

</body>

</html>