<%
const pageinit = {
  title : 'レバレジーズスタッフィング株式会社' ,
  keywords : '' ,
  sitename: 'レバレジーズスタッフィング株式会社',
  description : 'レバレジーズスタッフィング株式会社へのお問い合わせです。' ,
  ogurl: 'https://leverages-staffing.jp/contact/',
  ogimage: 'https://leverages-staffing.jp/img/ogp.jpg',
  path : '../' ,
  type: 'website',
  pagename : 'お問い合わせ',
  robots : ['index', 'follow'],
  id: 'contact',
  action: 'https://docs.google.com/forms/d/e/1FAIpQLSfLHyp6CVyXHZLQj_I4ILCG2KgtjKVzpPYKMQ8L-0oOHopyvg/formResponse',
  lastName: '2005620554', 
  firstName: '2082196930',
  lastNameKana: '2007152598',
  firstNamekana: '2003363469',
  tel: '1166974658',
  mail: '1045781291',
  context: '839337160'
}

%>

<!doctype html>
<html lang="ja" class="lang-jp" data-script-enabled="true">
<%- include(pageinit.path + 'module/_head.ejs',{ pageinit:pageinit }) %>

<body id="<%= pageinit.id %>" ontouchstart="">
  <div class="wrapper">
    <%- include(pageinit.path + 'module/_header.ejs', { pageinit:pageinit }) %>

    <main class="l-main" id="main">
      <%- include(pageinit.path + 'module/_contact.ejs', { pageinit:pageinit }) %>
    </main>

    <footer class="footer" id="footer">
      <%- include(pageinit.path + 'module/_recruit-footer.ejs', { pageinit:pageinit }) %>
      <%- include(pageinit.path + 'module/_footer.ejs', { pageinit:pageinit }) %>
    </footer>
  </div>

  <script type="text/javascript" src="<%= pageinit.path %>assets/js/main.js"></script>

</body>

</html>