<section class="p-company" id="p-company">
  <div class="p-first-view__intro l-wrapper__outmargin company">
    <div class="p-first-view__intro--textblc">
      <p class="c-bnrlink__ttl u-text__opensans">COMPANY</p>
      <p class="c-bnrlink__subttl u-text__notosans-jp">会社概要</p>
    </div>
  </div>


  <div class="l-wrapper__intro">
    <div class="p-company__introduce l-wrapper__block">
      <div class="p-company__introduce--maintext">

        <div class="p-company__introduce--maintext-blc">
          <h2 class="u-text__h2 u-margin__ttl-en">Philosophy</h2>
          <p class="u-text__subttl-jp u-margin__subttl-jp">レバレジーズグループの企業理念</p>

          <div class="p-company__introduce--smallblc">
            <p class="u-text__heading">顧客の創造を通じて、関係者全員の幸福を追求し、各個人の成長を促す</p>
          </div>

          <p class="u-text__maintxt">自分の為になることが人の為になり、人の為になることが自分の為になる。<br>
            そう考え行動する人を増やすことで、世の中全体の発展に貢献すること。<br>
            このような想いが、レバレジーズグループの企業理念の背景には込められています。<br>
            今行っている事業も、これから生まれる事業も、すべてはこの理念が基盤です。<br>
            レバレジーズグループは、会社を含めた社会全体の永続的な繁栄を目指し、<br>
            成長を続けます。</p>
        </div>

        <div>

          <h2 class="u-text__h2 u-margin__ttl-en">Vision</h2>
          <p class="u-text__subttl-jp u-margin__subttl-jp">レバレジーズグループのビジョン</p>

          <div class="p-company__introduce--smallblc">
            <p class="u-text__heading">国、業界をまたいで素早くかつ健全に拡大し、<br class="pc">
              参入した業界において最も競争優位性のある会社になる。<br>
              その為に、人的価値の向上と成果への貢献に全メンバーが努力する。</p>
          </div>
          <p class="u-text__maintxt">高速でグローバル化が進む世界、<br>
            日々目まぐるしく変化し拡大し続けるビジネスのフィールド。<br>
            途上国の人的資源が注目され賃金水準が上昇する状況に対し、<br>
            先進国であるはずの日本の賃金水準は年々下がる一方です。<br>
            そのような環境の中、レバレジーズの社員全員が賃金下落の渦に巻き込まれることなく、世の中に多大な価値を提供する企業の一員であるためにはどうするべきか。<br>
            それは、どのような業界においても競争優位性を高く持った商品・サービスを提供し続けることだと、私達は信じています。<br>
            ビジョン実現のためにレバレジーズでは社員1人1人の人的価値の向上を目指し、<br>
            「スキルの成長」と「マインドの成長」の二軸に重きを置いています。</p>

        </div>

      </div>
      <!--/.p-company__introduce--maintext -->

      <picture>
        <source srcset="<%= pageinit.path %>img/img_company.webp" type="image/webp" />
        <img src="<%= pageinit.path %>img/img_company.jpg" alt="Philosophy Vision" width="1943" height="1296" />
      </picture>

    </div>

  </div>
</section>

<section class="p-company__service l-wrapper__outmargin">
  <div class="inner">
    <div class="l-wrapper__block">
      <h2 class="u-text__h2 u-margin__ttl-en">Service</h2>
      <p class="u-text__subttl-jp u-margin__subttl-jp">事業紹介</p>
      <div class="p-company__service--inner">
        <div class="c-tile__service mbtile">
          <picture>
            <source srcset="<%= pageinit.path %>img/img_service-f.webp" type="image/webp" />
            <img src="<%= pageinit.path %>img/img_service-f.png" alt="Philosophy Vision" width="1464" height="600" />
          </picture>
          <div class="c-tile__service--txtblc">
            <p class="c-tile__service--ttl u-text__notosans-jp">看護師派遣事業</p>
            <p class="u-text__maintxt">2009年より開始した看護業界に特化した人材紹介・人材派遣サービスです。看護師にとっての不安や疑問を一番に相談する"相談窓口"となることを目指し、手厚いフォロー体制で全国の看護師の転職をサポートしています。</p>
          </div>
        </div>

        <div class="c-tile__service">
          <picture>
            <source srcset="<%= pageinit.path %>img/img_service-m.webp" type="image/webp" /> 
            <img src="<%= pageinit.path %>img/img_service-m.png" alt="Philosophy Vision" width="1464" height="600" />
          </picture>
          <div class="c-tile__service--txtblc">
            <p class="c-tile__service--ttl u-text__notosans-jp">介護士派遣事業</p>
            <p class="u-text__maintxt">2015年より開始した、介護業界に特化した人材紹介・人材派遣サービスです。「レバウェル介護」は主要都市を中心として、地方都市にも展開しており、これまで6,000人以上の就職を支援しています。</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="p-company__profile inner">
    <div class="l-wrapper__containts">
  <h2 class="u-text__h2 u-margin__ttl-en">Company Profile</h2>
  <p class="u-text__subttl-jp u-margin__subttl-jp">会社概要</p>
  <div class="p-company__profile--info">
    <div class="p-company__profile--table">
      <dl class="p-company__profile--table-tr">
        <dt class="p-company__profile--table-th"><p class="u-text__profile--ttl">会社名</p></dt>
        <dd class="p-company__profile--table-td"><p class="u-text__profile--txt">レバレジーズスタッフィング株式会社</p></dd>
      </dl>
      <dl class="p-company__profile--table-tr">
        <dt class="p-company__profile--table-th"><p class="u-text__profile--ttl">本社所在地</p></dt>
        <dd class="p-company__profile--table-td"><p class="u-text__profile--txt">東京都渋谷区渋谷二丁目24番12号</p></dd>
      </dl>
      <dl class="p-company__profile--table-tr">
        <dt class="p-company__profile--table-th"><p class="u-text__profile--ttl">設立</p></dt>
        <dd class="p-company__profile--table-td"><p class="u-text__profile--txt">2024年5月24日</p></dd>
      </dl>
      <dl class="p-company__profile--table-tr">
        <dt class="p-company__profile--table-th"><p class="u-text__profile--ttl">事業内容</p></dt>
        <dd class="p-company__profile--table-td"><p class="u-text__profile--txt">人材派遣事業</p></dd>
      </dl>
      <dl class="p-company__profile--table-tr">
        <dt class="p-company__profile--table-th"><p class="u-text__profile--ttl">拠点</p></dt>
        <dd class="p-company__profile--table-td">
          <p class="u-text__profile--txt">札幌、仙台、船橋、さいたま、立川、横浜、静岡、名古屋、大阪、広島、福岡</p>
          <p class="u-text__profile--note p-company__profile--note">※2024年7月現在、営業所含む</p>
        </dd>
      </dl>
      <dl class="p-company__profile--table-tr">
        <dt class="p-company__profile--table-th"><p class="u-text__profile--ttl">認定</p></dt>
        <dd class="p-company__profile--table-td"><p class="u-text__profile--txt">労働者派遣事業許可番号：派13-310987</p></dd>
      </dl>
    </div>
  </div>
  </div>
</section>


