<section class="environment" id="environment">
  <div class="p-first-view__intro l-wrapper__outmargin environment">
    <div class="p-first-view__intro--textblc">
      <p class="c-bnrlink__ttl u-text__opensans">ENVIRONMENT</p>
      <p class="c-bnrlink__subttl u-text__notosans-jp">働く環境</p>
    </div>
  </div>


  <div class="l-wrapper__inner">

    <div class="p-environment__introduce">
      <h2 class="u-text__h2 u-margin__ttl-en">Culture</h2>
      <p class="u-text__subttl-jp u-margin__subttl-jp">カルチャー</p>

      <div class="p-environment__introduce--inner">
        <div class="p-environment__introduce--image"></div>

        <div class="p-environment__introduce--maintext">
          <div class="p-environment__introduce--blc">
            <p class="u-text__heading p-environment__introduce--ttl">サービスの質向上のために全員が組織づくりできる文化</p>
            <p class="u-text__maintxt">各個人のやりたいことを後押し、年次関係なくチャンスに溢れた組織づくりできるフラットな組織です。<br>
              挑戦する機会が多く、利他性の高い社員だからこそ人のために時間投資をすることができ、どんな困難なことも実現してきました。<br>
              顧客の短期的な課題解決ではなく、長期的に顧客のサポートをすることができます。</p>
          </div>
          <ol class="p-environment__introduce--list">
            <li class="p-environment__introduce--list-item">
              <p class="u-text__notosans-jp p-environment__introduce--list-ttl"><span
                  class="p-environment__introduce--list-num">01</span>自由と責任</p>
              <p class="u-text__maintxt">やりたいことを後押しし、結果を出す。自由と責任はセットですが、例え失敗しても挑戦しやりきることで次のステップへ進めます。</p>
            </li>
            <li class="p-environment__introduce--list-item">
              <p class="u-text__notosans-jp p-environment__introduce--list-ttl"><span
                  class="p-environment__introduce--list-num">02</span>組織志向性</p>
              <p class="u-text__maintxt">
                利他性の高い社員が多く、どんな困難なことでも仲間と支え合い、切磋琢磨して不可能なことを可能にできる組織です。自分たちなら成し遂げられそうと思える組織文化があります。</p>
            </li>
            <li class="p-environment__introduce--list-item">
              <p class="u-text__notosans-jp p-environment__introduce--list-ttl"><span
                  class="p-environment__introduce--list-num">03</span>挑戦機会</p>
              <p class="u-text__maintxt">複数の拠点があるため、本社だけではなく少人数での支店立ち上げや地方経験をすることもでき、幅広い経験で成長できる環境である。</p>
            </li>
          </ol>
        </div>
      </div>
      <!--/.p-environment__introduce--maintext -->
    </div>
  </div>

  <div class="l-wrapper__inner">

    <div class="p-environment__info">
      <h2 class="u-text__h2 u-margin__ttl-en">About Leverages Group</h2>
      <p class="u-text__subttl-jp u-margin__subttl-jp">レバレジーズグループとは</p>
      <p class="u-text__maintxt">企業理念 「顧客の創造を通じて、関係者全員の幸福を追求し、各個人の成長を促す」のもとに<br class="pc">
        さまざまな国、業界で足りていない仕組み、人、環境の問題を解決していきます。</p>

      <ul class="p-environment__info--blc">
        <li class="p-environment__info--list">
          <div class="p-environment__info--img">
            <picture>
              <source srcset="<%= pageinit.path %>img/img_evvironment-info01.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/img_evvironment-info01.png" alt="つながりは誰かを支える" width="1440"
                height="852" />
            </picture>
          </div>
          <p class="u-text__heading p-environment__info--ttl">国や業界をまたいで<br>40を超える事業を展開</p>
          <p class="u-text__maintxt">
            インターネットメディア、人材マッチング、M&A、SaaSなど、業界の新しいプラットフォーマーとして、社会課題の解決を目指しています。その他、教育/インフラ/食料など世界的にニーズが高まっていく領域への参入を予定しています。
          </p>
        </li>
        <li class="p-environment__info--list spmargin">
          <div class="p-environment__info--img">
            <picture>
              <source srcset="<%= pageinit.path %>img/img_evvironment-info02.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/img_evvironment-info02.png" alt="つながりは誰かを支える" width="1440"
                height="852" />
            </picture>
          </div>
          <p class="u-text__heading p-environment__info--ttl">ベンチャーを牽引する成長で、<br>日本を代表する企業へ</p>
          <p class="u-text__maintxt">
            2005年に創業以来、黒字経営を継続し2023年度は年商1149億を突破。コロナ禍でも増収を達成しています。IT、医療など、日本の社会問題を解決していく事業をこれからも多数運営し、今後の日本経済に影響を与える規模へ成長していきます。
          </p>
        </li>
      </ul>
      <!--/.p-environment__info--maintext -->
    </div>

  </div>


</section>

<section class="p-environment__numbers l-wrapper__outmargin">
  <div class="inner">
    <div class="l-wrapper__block">
      <h2 class="u-text__h2 u-margin__ttl-en">Numbers</h2>
      <p class="u-text__subttl-jp u-margin__subttl-jp">数字で見るレバレジーズグループ<sup>※</sup></p>
      <ul class="p-environment__numbers--lists">
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_place.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_place.png" alt="拠点数" width="115" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">拠点数</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">28</p>
            <p class="p-environment__numbers--unit">拠点</p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_ratio.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_ratio.png" alt="新卒・中途割合" width="212" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">新卒・中途割合</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">6 : 4</p>
            <p class="p-environment__numbers--unit"></p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_ratio-mf.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_ratio-mf.png" alt="男女比率" width="122" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">男女比率</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">1 : 1</p>
            <p class="p-environment__numbers--unit"></p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_old.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_old.png" alt="平均年齢" width="175" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">平均年齢</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">27</p>
            <p class="p-environment__numbers--unit">歳</p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_old.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_old.png" alt="働きがいのある会社ランキング若手部門" width="75" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">働きがいのある会社<br>
              ランキング若手部門</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">1</p>
            <p class="p-environment__numbers--unit">位</p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_business.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_business.png" alt="事業数" width="124" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">事業数</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">43</p>
            <p class="p-environment__numbers--unit">事業</p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_people.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_people.png" alt="従業員数" width="102" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">従業員数</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">2007</p>
            <p class="p-environment__numbers--unit">人</p>
          </div>
        </li>
        <li class="p-environment__numbers--item">
          <div class="p-environment__numbers--itemimg">
            <picture>
              <source srcset="<%= pageinit.path %>img/icon_holiday.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/icon_holiday.png" alt="有給休暇取得率" width="121" height="114">
            </picture>
          </div>
          <div class="p-environment__numbers--txtblc">
            <p class="p-environment__numbers--subttl">有給休暇取得率</p>
          </div>
          <div class="p-environment__numbers--numblc">
            <p class="p-environment__numbers--num">72</p>
            <p class="p-environment__numbers--unit">%</p>
          </div>
        </li>
      </ul>
      <p class="p-environment__numbers--note">※　2023年時点</p>
    </div>
  </div>
</section>


<section class="l-wrapper__intro">

  <div class="p-environment__benefit">
    <h2 class="u-text__h2 u-margin__ttl-en">Employee Benefits</h2>
    <p class="u-text__subttl-jp u-margin__subttl-jp">福利厚生</p>

    <ul class="p-environment__benefit--lists">
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">家賃補助制度</p>
        <p class="u-text__maintxt">自宅最寄り駅から会社までの距離が近い正社員に対して支給される家賃補助制度です。内勤・外勤・地方支店含め、全社員が対象となっています。</p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">ランチサポート制度</p>
        <p class="u-text__maintxt">
          豆から挽く本格コーヒーや紅茶・ココア等がオフィスで飲み放題！さらに、お昼ご飯に白米を炊いて食べることもできます。レトルトカレーやカップスープ、お菓子やフルーツが並ぶこともあり、ラインナップは社員の意見を反映し、随時変更されます。
        </p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">資格取得支援制度</p>
        <p class="u-text__maintxt">会社が規定した資格の受験費用を会社が全負担、または一部負担する制度です。公認会計士やキャリアコンサルタントなどの国家資格から、Web解析士や技術系の専門資格まで約100個の資格が対象となっています。</p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">読書支援制度</p>
        <p class="u-text__maintxt">社員教育の一環として、新卒入社の社員が自己投資のため、専門書等の高額な書籍の購入を躊躇しなくてよいように書籍購入の支援をしています。また代表や各事業部長が推薦する社内のビジネス誌はすべて読み放題です。</p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">ライフプラン制度</p>
        <p class="u-text__maintxt">社員が自分で掛け金額や運用商品を選択し、60歳以降に掛け金を受け取れる制度です。確定拠出年金の活用によって、毎月の社会保険料や税金の負担を軽減でき、運用で得た利益は全額非課税での受け取りが可能です。</p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">子育て支援制度</p>
        <p class="u-text__maintxt">子育て世代のワークライフバランスの向上を目指し、出産・育児を予定している社員に向けてワーキングマザー・ファザーガイドブックの配布や、上司に向けて社員のキャリア応援目的としたイクボスガイドブックの配布も行っています。</p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">育休・産休制度</p>
        <p class="u-text__maintxt">出産予定の女性社員は、産前6週間、産後8週間の休暇を取得することができます。取得要件を満たす従業員は、子どもが1歳になるまで育児休業を取得でき、就業規則の条件を満たした場合、最長2歳まで延長することができます。</p>
      </li>
      <li class="p-environment__benefit--item">
        <p class="p-environment__benefit--item-ttl">時短勤務</p>
        <p class="u-text__maintxt">小学校3年生以下の子どもを養育する社員は、勤務時間を短縮して勤務することができます。</p>
      </li>
      <li class="p-environment__benefit--item bnone">
        <p class="p-environment__benefit--item-ttl">特別休暇</p>
        <p class="u-text__maintxt">家庭を持つ方にも働きやすい環境を提供したい。そんな想いでつくられた個人に合わせた働き方を実現する制度です。「関係者全員の幸福の追求」という企業理念を実現する制度の一つであり、ライフスタイルの変化に対応しやすい環境を用意しています。</p>
      </li>
      <li class="p-environment__benefit--item bnone">
        <p class="p-environment__benefit--item-ttl">保育料補助</p>
        <p class="u-text__maintxt">産後からの復業支援として、入園する保育園で発生する月々の保育料と、居住する自治体の認可保育園で定められている保育料の差額を、上限10万円まで会社が負担します。その他の保育支援では、フルタイムや時短勤務など、本人の要望に合わせた勤務時間や報酬体系を選択することができます。</p>
      </li>
    </ul>
</div>
</section>