<header class="l-header" id="header">
  <div class="l-header__inner">
    <div class="l-header__spinner">
      <h1 class="l-header__logo"><a href="/">Leverages Staffing | レバジーズスタッフィング </a></h1>
    </div>
    <input type="checkbox" id="button__header-sp" class="c-button__header-spinput" />
    <label for="button__header-sp" id="button__header-labelsp" class="c-button__header-sp"><span></span></label>

    <div class="l-header__modal" id="header__modal">
      <div class="l-header__modal--inner">
        <nav class="l-header__nav" id="header__nav">
          <ul class="l-header__nav--item--list">
            <li class="l-header__nav--item--home"><a href="<%= pageinit.path %>" class="l-header__nav--item"><span class="pc">TOP</span><span class="sp">トップページ</span></a></li>
            <li class="l-header__nav--item--company"><a href="<%= pageinit.path %>company/" class="l-header__nav--item">会社概要</a></li>
            <li class="l-header__nav--item--environment"><a href="<%= pageinit.path %>environment/" class="l-header__nav--item">働く環境</a></li>
            <li class="l-header__nav--item--contact"><a href="<%= pageinit.path %>contact/" class="l-header__nav--item">お問い合わせ</a></li>
          </ul>
        </nav>


        <div class="l-header__apply">
          <div class="l-header__apply--sp">
            <h2 class="l-header__apply--ttl">JOIN US!</h2>
            <p class="l-header__apply--subttl">新卒採用 スタート</p>
          </div>
          <div class="l-header__apply--new">
            <a href="<%= pageinit.path %>recruit/graduates/" class="c-button__recruit--header">
              <span class="c-button__recruit--header-txt">新卒採用</span>
              <span class="c-button__recruit--header-arrow"></span>
            </a>
          </div>
          <div class="l-header__apply--mid">
            <span class="c-button__recruit--header disabled">
            <!-- <a href="< %= pageinit.path %>recruit/mid-career/" class="c-button__recruit--header"> -->

              <span class="c-button__recruit--header-txt">中途採用</span>
              <span class="c-button__recruit--header-arrow"></span>
            </span>

          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- /.l-header__inner -->
</header>