

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title><% if(pageinit.pagename){ %><%= pageinit.pagename %> | <% } %><%= pageinit.title %></title>

  <link rel="canonical" href="https://leverages.jp/" />
  <link rel="icon" href="./img/favicon.ico">
  <!-- iOS Safari and Chrome -->
  <link rel="apple-touch-icon" sizes="192x192" href="/img/touch-icon.png">

  <meta property="og:title" content="<%= pageinit.title %>" />
  <meta property="og:description" content="<%= pageinit.description %>" />
  <meta property="og:url" content="<%= pageinit.ogurl %>"/>
  <meta property="og:image" content="<%= pageinit.ogimage %>"/>
  <meta property="og:type" content="<%= pageinit.type %>" />
  <meta property="og:site_name" content="<%= pageinit.sitename %>" />
  <meta name="apple-mobile-web-app-title" content="Leverages Staffing">
  <meta name="robots" content="<%= pageinit.robots %>">
  <meta name="theme-color" content="#E9092C" />


  <!-- Font -->
  <script>
    (function(d) {
      var config = {
        kitId: 'qmd3kbn',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <!-- Font -->

  <link rel="stylesheet" href="./css/style.css" type="text/css">


</head>

