     
     <section class="p-home__fv" id="home__fv">

        <!-- PC限定 -->
        <div class="p-home__kv" id="home__kv">
          <div class="p-home__kv--wrapper">
            <picture class="p-home__kv--img">
              <source srcset="<%= pageinit.path %>img/top-kv.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/top-kv.jpg" alt="top-kv" width="2800" height="2259" />
            </picture>
          </div>
          <div class="p-home__scroll" id="js-homeScroll">
            <div class="p-home__scroll--wrapper">
              <p class="p-home__scroll--text u-text__opensans">SCROLL</p>
              <div class="p-home__scroll--line"></div>
            </div>
          </div>

      </div>
      <!-- PC限定 -->
        <!-- 文字部分 -->
        <div class="p-home__feature">
          <h2 class="p-home__feature--pfirst">
            <p class="p-home__feature--text">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter01.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter01.jpg" alt="つ" width="277" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter02.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter02.jpg" alt="な" width="277" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter03.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter03.jpg" alt="が" width="277" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter04.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter04.jpg" alt="り" width="277" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter05.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter05.jpg" alt="は" width="277" height="304">
              </picture>
            </p>
          </h2>
          <div class="p-home__feature--psecond">
            <p class="p-home__feature--text-later">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter06.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter06.jpg" alt="誰" width="274" height="304">
              </picture>
            </p>
            </p>
            <p class="p-home__feature--text-later">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter07.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter07.jpg" alt="か" width="274" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text-later">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter08.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter08.jpg" alt="を" width="274" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text-later">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter09.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter09.jpg" alt="支" width="274" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text-later">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter10.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter10.jpg" alt="え" width="274" height="304">
              </picture>
            </p>
            <p class="p-home__feature--text-later">
              <picture>
                <source srcset="<%= pageinit.path %>img/fv_letter11.webp" type="image/webp" />
                <img src="<%= pageinit.path %>img/fv_letter11.jpg" alt="る" width="274" height="304">
              </picture>
            </p>
          </div>
        </div>
        <!-- 文字部分 -->
        <div class="p-home__aboutus" id="home__aboutus">
          <!-- SP限定 -->
          <div class="p-home__aboutus--kv">
            <picture class="p-home__kv--img">
              <source srcset="<%= pageinit.path %>img/top-kv-sp.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/top-kv-sp.jpg" alt="top-kv" width="1500" height="1500" />
            </picture>
          </div>
          <!-- SP限定 -->

          <div class="p-home__aboutus--inner">
            <h3 class="u-text__h2">About Us<br>
              <span class="u-text__subttl-jp u-margin__subttl-jp u-margin__ttl-en-top">レバレジーズスタッフィングとは</span>
            </h3>
          
            <p class="u-text__text u-margin__text" id="js-aboutHight">レバレジーズスタッフィングはレバレジーズのグループ会社です。<br>
              人材派遣サービス企業で、現在は看護師人材派遣サービス「レバウェル看護」、介護士人材派遣サービス「レバウェル介護」等を提供しています。</p>
            <p class="u-text__text">
              「自分たちの仕事によって、困っている誰かがプラスの感情になる」そんな事業づくりをしてます。<br>今後も人材不足や社会課題となって困っている業界があれば、社会の課題解決をしていきます。</p>
          </div>
          <div class="p-home__aboutus--feature" id="fixLetters">
            <picture>
              <source srcset="<%= pageinit.path %>img/about_feature.webp" type="image/webp" />
              <img src="<%= pageinit.path %>img/about_feature.png" alt="つながりは誰かを支える" width="1218" height="516">
            </picture>
          </div>
        </div>



      </section>

      <section class="p-home__bnrlink inner" id="home__bnrlink">

        <a class="c-bnrlink__wrapper" href="<%= pageinit.path %>company/">
          <span class="c-bnrlink__line">
            <div class="c-bnrlink">
              <div class="c-bnrlink__block">
                <p class="c-bnrlink__ttl u-text__opensans">COMPANY</p>
                <p class="c-bnrlink__subttl u-text__notosans-jp">会社概要</p>
                <p class="c-bnrlink__txt u-text__notosans-jp">詳しく見る</p>
              </div>
              <div class="c-bnrlink__bg company"></div>
            </div>
          </span>
        </a>


        <a class="c-bnrlink__wrapper c-multi" href="<%= pageinit.path %>environment/">
          <span class="c-bnrlink__line">
            <div class="c-bnrlink c-multi">
              <div class="c-bnrlink__block">
                <p class="c-bnrlink__ttl u-text__opensans">ENVIRONMENT</p>
                <p class="c-bnrlink__subttl u-text__notosans-jp">働く環境</p>
                <p class="c-bnrlink__txt u-text__notosans-jp">詳しく見る</p>
              </div>
              <div class="c-bnrlink__bg environment"></div>
            </div>
          </span>
        </a>

      </section>